@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar_icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto 
    shadow-xl dark:shadow-md
    bg-neutral-200 dark:bg-gray-800 text-red-400 rounded-3xl
    hover:bg-red-700 hover:rounded-xl
    transition-all duration-200 ease-linear;
  }

  .sidebar_text {
    @apply absolute w-auto h-auto m-2 p-2 min-w-max left-14 rounded-md 
    shadow-xl dark:shadow-md
    text-black dark:text-white 
    bg-white dark:bg-gray-800
    text-lg z-10
    transition-all duration-100 scale-0 origin-left;
  }

  .link_buttons {
    @apply p-2 col-span-1 sm:text-xl transition duration-300 bg-red-400 hover:bg-red-500 rounded-2xl shadow-inner text-center;
  }

  .rich-text p {
    @apply py-2 mt-1;
  }
}

html,
body {
  height: 100vh;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
